.btn {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: 20px;
  background-image: linear-gradient(to right, rgb(250, 169, 20), purple);
  cursor: pointer;
  margin-bottom: 32px;
}
.btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(228, 188, 114),
    rgb(185, 7, 185)
  );
}
